h1 {
    color: #abeb73;
}

h2 {
    color: #beed95;
}

.navigation-item {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation {
    list-style-type: none;
}

.custom-style1 {
  fill: #f2ea00;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #b3ab00;
}

.custom-style2 {
  fill: #00a0f2;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #050092;
}
