<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style/normalize.css" />
    <link rel="stylesheet" href="/static/style/skeleton.css" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="stylesheet" href="./static/js/vis-timeline-graph2d.min.css" />
    <script src="./static/js/vis.js"></script>
</head>
    <body>
    <div class="container">
        <ul class="navigation">
            <li class="navigation-item">
                <a href="/">Main</a>
            </li>
            <li class="navigation-item">
                <a href="/info">Station info</a>
            </li>
            <li class="navigation-item">
                <a href="/fromweb">Forecast</a>
            </li>
            <li class="navigation-item">
                <a href="/graphics">Graphs</a>
            </li>
            <li class="navigation-item">
                <a href="/tasks">Tasks</a>
            </li>
        </ul>
        <div style="clear: both;">&nbsp;</div>

        {% block content %}{% endblock %}
    </div>
    </body>
</html>